[2018-02-21 19:27] ceefour opened #1 "SAMPLE: Hendy Irawan"
**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. JBoss
2. Haskell.org

**Coach assistant:** @wisn

**Ideas:**

| Organization | Topic | Difficulty | Technologies & Tools |
|-------|-----|-------|------|
| JBoss | Improve UI | Medium | Java, XML |
| Django | Improve database | Low | Python, PostgreSQL |

**Mentors:**

1. MENTOR NAME <email@addres

[2018-02-23 17:54] nurulsakinah91 opened #2 "test"
yajhdf

[2018-02-23 18:15] #2 closed

[2018-02-24 04:16] wisn opened #3 "Wisnu Adi Nurcahyo - Haskell.org / coala / Mozilla"
**Coach assistant:** @wisn

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description
* [x] Initialize proposal
* [x] Writing proposal
* [x] Ask review to mentor
* [x] Finalize proposal
* [x] Submit proposal

**Organizations:**

1. Haskell.org
2. coala
3. Mozilla

**Ideas:**

| Organization | Idea | Difficulty | Technologies & Tools |
| ------------- | ---- | --------- | ------

[2018-02-24 04:30] probeadd opened #4 "Satrio Adi Prabowo - CLiPS, University of Antwerp / Stony Brook University Biomedical Informatics / INCF"
**Coach assistant:** @probeadd

 **Sanity checks:**

 * [x] GitHub profile photo + detailed profile description

 **Organizations:**

 1. CLiPS, University of Antwerp
 2. Stony Brook University Biomedical Informatics
 3. INCF

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|-------

[2018-02-24 09:31] tushareandy opened #5 "Andy Maulana Yusuf"
**Coach assistant:** @wisn / @bekicot / @probeadd / @ghaisani (hapus selain ascoach Anda)

 **Sanity checks:**

 * [ ] GitHub profile photo + detailed profile description

 **Organizations:**

 1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
 2. ...
 3. ...

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--

[2018-02-24 09:45] rhony08 opened #6 "Rhony Septian"
**Coach assistant:** @wisn

 **Sanity checks:**

 * [ ] GitHub profile photo + detailed profile description

 **Organizations:**

 1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
 2. ...
 3. ...

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|------------|

[2018-02-24 10:17] moefc32 opened #7 "Mochammad Faizal - Mozilla / Inclusive Design Institute"
**Coach Assistant :** @bekicot

**Sanity Checks :**

* [x] GitHub profile photo + detailed profile description
* [ ] Initialize proposal
* [ ] Ask review to mentor
* [ ] Finalize proposal
* [ ] Submit proposal

 **Organizations :**

1. Mozilla
2. Inclusive Design Institute

**Ideas :**

| Organization  | Idea                                       | Difficulty  | Technologies & Tools

[2018-02-24 12:10] bekicot opened #8 "Yana Agun Siswanto - Discourse / Wikimedia / TBD"
**Coach assistant:** @ghaisani

 **Sanity checks:**

 * [*] GitHub profile photo + detailed profile description

 **Organizations:**

 1. Discourse
 2. Wikimedia
 3. TBD

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|------------|------------------------------|
 | ...          |

[2018-02-24 12:14] LuthfiFauzi opened #9 "Luthfi Fauzi - ArduPilot / Organisasi2 / Organisasi3"
**Coach assistant:** @afnizarnur

 **Sanity checks:**

 * [ ] GitHub profile photo + detailed profile description

 **Organizations:**

 1. ArduPilot
 2. ...
 3. ...

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|------------|------------------------------|
 | Ardupilot

[2018-02-24 12:35] serabiasin opened #10 "AHMAD ALFI ADZ-DZIKRI - RTEMS/ Gentoo/ Organisasi3"
**Coach assistant:** @probeadd

 **Sanity checks:**

 * [X] GitHub profile photo + detailed profile description

 **Organizations:**

  1. RTEMS
  2. Gentoo
  3. ...

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|------------|------------------------------|
 | ...          | ...

[2018-02-24 12:50] ilmamrh opened #11 "{Ilmam Rafidan Hutama} - {GNU Compiler Collection (GCC) / Godot Engine / ScummVM}"
**Coach assistant:** @wisn

 **Sanity checks:**

 * [ ] GitHub profile photo + detailed profile description

 **Organizations:**

 1. GNU Compiler Collection (GCC)
 2. Godot Engine
 3. ScummVM

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|------------|---------------------------

[2018-02-24 13:05] vayupranaditya opened #12 "I Gusti Bagus Vayupranaditya Putraadinatha - Omegaup/phpbb/FOSSASIA"
**Coach assistant:** @bekicot

 **Sanity checks:**

 * [x] GitHub profile photo + detailed profile description
 * [ ] Initialize proposal
 * [ ] Ask review to mentor
 * [ ] Finalize proposal
 * [ ] Submit proposal

 **Organizations:**

 1. Brothercode
 2. Proclub

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------

[2018-02-24 13:15] jayvdb commented on #11
Maybe you want to look at GNU Wget part of [GNU Project](https://summerofcode.withgoogle.com/organizations/6071880469970944/) . @dstw did a project with them last year.

[2018-02-24 13:17] BlinfoldKing opened #13 "Ganesha Danu Enastika Processing/Godot Engine/Zulip"
**Coach assistant:** @wisn

 **Sanity checks:**

 * [x] GitHub profile photo + detailed profile description

 **Organizations:**

 1. Processing
 2. Godot Engine
 3. Zulip

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |-----------------|------------------------------------|------------|------------------------------|
 | Processing

[2018-02-25 05:06] jayvdb commented on #4
As you have contributions to collaborative projects, you should create an [OpenHub](https://www.openhub.net/) account, using the same username as github, and [add Project](https://www.openhub.net/p/new) for https://github.com/react-navigation/react-navigation so that it indexes [your commits](https://github.com/react-navigation/react-navigation/commits?author=probeadd) .

See e.g. https://www.open

[2018-02-25 05:15] probeadd commented on #4
Sure, thank you.

[2018-02-25 05:18] mfaridzia opened #14 "Muhammad Paridudin Zia - Mozilla / Wikimedia / AOSSIE"
**Coach assistant:** @bekicot

 **Sanity checks:**

 * [ ] GitHub profile photo + detailed profile description

 **Organizations:**

 1. Mozilla
 2. Wikimedia
 3. AOSSIE

 **Ideas:**

 | Organization | Idea                                                             | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------------------|------------|--------

[2018-02-25 09:27] seagalputra opened #15 "Dwiferdio Seagal Putra"
**Coach assistant:** @bekicot
 **Sanity checks:**

 * [ ] GitHub profile photo + detailed profile description

 **Organizations:**

 1. ...
 2. ...
 3. ...

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|------------|------------------------------|
 | ...          | ...

[2018-02-25 16:33] wisn commented on #9
Since you are working on `End User Applications` category, @afnizarnur will be your coach assistant.

[2018-02-26 01:16] qazsxdcfv opened #17 "Fadhil Muhammad Setiawan - Metasploit / Coala"
**Coach assistant:** @wisn /  @probeadd
 **Sanity checks:**

 * [x] GitHub profile photo + detailed profile description

 **Organizations:**

 1. Metasploit
 2. Coala

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|------------|------------------------------|
 | ...          | ...

[2018-02-26 02:47] LuthfiFauzi commented on #9
Ok, thank you mr @wisn

[2018-02-26 03:41] kamaldt opened #18 "Kamal Haris"
**Coach assistant:** @probeadd

 **Sanity checks:**

 * [ ] GitHub profile photo + detailed profile description

 **Organizations:**

 1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
 2. ...
 3. ...

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|---------

[2018-02-26 04:59] afnizarnur commented on #9
@LuthfiFauzi Don't forget to search the mentor of your project 😉

[2018-02-26 06:36] ceefour commented on #8
@bekicot waktunya pindah column nih >> https://github.com/gsocindonesia/coaching2018/projects/1

[2018-02-26 06:36] ceefour commented on #4
@probeadd  waktunya pindah column nih >> https://github.com/gsocindonesia/coaching2018/projects/1

[2018-02-26 06:38] ceefour commented on #1
Served its purpose I guess

[2018-02-26 06:38] #1 closed

[2018-02-26 07:55] hasobi opened #19 "Hasobi - Elastic / Fedora / Debian"
**Coach assistant:** @probeadd

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Elastic
2. Fedora
3. Debian

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Elastic          | Kibana:

[2018-02-26 08:56] jayvdb commented on #8
"Discourse" is not a GSoC organisation this year.

[2018-02-26 10:22] fikrihaykal41 opened #20 "tbd"
**Coach assistant:** @bekicot / @afnizarnur

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|-----

[2018-02-26 11:26] ridhofadilah opened #21 "GSoC 2018"
**Coach assistant:** @wisn / @bekicot / @probeadd / @ghaisani / @afnizarnur (hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools

[2018-02-26 15:28] adityaemaulana opened #22 "Aditya Eka Maulana - Conversations.im / Kiwix / TBD"
**Coach assistant:** @wisn

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Conversations.im
2. Kiwix
3. TBD

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-02-26 16:34] ArifFadhilah opened #23 "M Arif fadhilah"
**Coach assistant:** @wisn

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|---------

[2018-02-26 16:38] jayvdb commented on #13
Processing is a great choice.  Maybe you want to create a Processing demo, e.g. front page for https://github.com/gsocindonesia/gsoc-orgs using its json data.  Lots of logos you could use in a visualisation, or maybe use tags to build a dynamic word cloud.

Also you might be interested in playing with https://github.com/netlify/netlify-cms

[2018-02-26 23:40] NoveltyOFD opened #24 "Novelty"
**Coach assistant:** @wisn / @bekicot / @probeadd / @ghaisani / @afnizarnur (hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools

[2018-02-27 03:16] ilmamrh commented on #11
@jayvdb Should I pick GNU projects? In your opinion, which should get the first priority?

[2018-02-27 03:23] LuthfiFauzi commented on #9
yea, I have contact @afnizarnur by email

[2018-02-27 03:24] jayvdb commented on #4
Here are your contributions to claim: https://www.openhub.net/p/react-navigation/contributors/3155067944487634

[2018-02-27 03:34] jayvdb commented on #11
GCC has previously been part of the 'GNU Project' organisation.  This is the first year for GCC as a separate organisation, and GCC is also very popular, so I expect it will be difficult to win a slot with GCC this year.  GCC is also a very mature product, so the difficulty of projects will be high, and the quality expectations will be extremely high.  You will need a very good portfolio to win a

[2018-02-27 05:03] ilmamrh commented on #11
@jayvdb Thank you very much.

[2018-02-27 06:11] dstw commented on #11
If you consider to choose GNU Wget2 as your GSoC organization, it's better to take a look on their repository [0]. I suggest for you to do a microproject for better chance you to get accepted (some dudes from Indian & China already do). There is a tag for Junior contributor on their repo issue so you can choose task easier. Good luck for this year GSoC.

[2018-02-27 07:02] badrus123 opened #25 "Badrus shoolehk- Conversation.im / Digital impact Alliance / Kiwix"
**Coach assistant:** @wisn / @bekicot / @probeadd / @ghaisani / @afnizarnur (hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Conversation.im
2. Digital impact Alliance
3. kiwix

**Ideas:**

| Organization                 | Idea                                             | Difficulty | Technologies & Tools          |

[2018-02-27 07:14] yudhaputrama opened #26 "Kurniawan Yudha Putrama - Amahi / Wikimedia / CNCF"
**Coach assistant:** @bekicot

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Amahi
2. Wikimedia
3. CNCF

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-02-27 08:20] ghaisani opened #27 "Febry Ghaisani - Metabrainz / InterMine / CDLI"
**Coach assistant:** @ghaisani

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Metabrainz
2. InterMine
3. CDLI

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Metabrainz  | Create a

[2018-02-27 08:28] kamalhm opened #28 "Kamal Hasan Mahmud"
**Coach assistant:** @wisn

**Sanity checks:**

* [*] GitHub profile photo + detailed profile description
edited soon
**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|-----------

[2018-02-27 08:59] dewasa98 opened #29 "Victor Leadero Sanjaya"
**Coach assistant:** @wisn / @bekicot / @probeadd / @ghaisani / @afnizarnur (hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools

[2018-02-27 09:38] probeadd commented on #4
@ceefour thank you, pak!
@jayvdb well, thanks!

[2018-02-27 10:59] katsi14 opened #30 "Kautsar Tisamawi / LibreOffice / FOSSASIA / Wikimedia Foundation"
**Coach assistant:** @wisn

 **Sanity checks:**

 * [ ] GitHub profile photo + detailed profile description

 **Organizations:**

 1. LibreOffice
 2. FOSSASIA
 3. Wikimedia Foundation

 **Ideas:**

 | Organization | Idea                               | Difficulty | Technologies & Tools         |
 |--------------|------------------------------------|------------|------------------------------|
 | L

[2018-02-27 12:48] ceefour commented on #30
Hore ada dari GAB02 ✌️

@wisn Mungkin memang sengaja milih mas @wisn ? Jadi peserta bebas memilih ascoach sebenarnya, dengan catatan nanti pas hari mulai coaching, semua asisten tidak ada yg overload, jadi bebannya merata. (+/- 1)

[2018-02-27 13:14] wisn commented on #30
Oh oke kalo gitu Pak

[2018-02-27 13:15] ravimahfunda opened #31 "Ravi Mahfunda"
**Coach assistant:**@afnizarnur

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|----

[2018-02-27 16:01] katsi14 commented on #30
Duh maaf sepertinya saya salah lihat mas, pak 😥
I believe i see somewhere that _mas wisn_ is the as-coach of End User Application, but it turns out wrong hehe my bad 😅, then should i change it? or leave it be?

[2018-02-27 18:21] fikriakmal opened #32 "Fikri Akmal - TEAMMATES @ National University of Singapore/ Scilab / Joomla!"
**Coach assistant: @bekicot

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. TEAMMATES @ National University of Singapore
2. Scilab
3. Joomla!

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|--------------------------

[2018-02-27 18:24] ceefour commented on #24
Untuk proyek-proyek NLP mungkin bu @aromadhony bisa memberikan saran..

[2018-02-27 18:37] aromadhony opened #33 "Ade Romadhony - OpenFoodFacts/CLTK"
**Coach assistant:** @ceefour

**Sanity checks:**

*

- [ ] [

 ] GitHub profile photo + detailed profile description

**Organizations:**

1. OpenFoodFacts
2. CLTK
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| OpenFoodFacts

[2018-02-27 19:21] bekicot commented on #8
@jayvdb
**Posible ORG**:
Interesting Project with 13+ project last year (avoided FOSSASIA)

https://summerofcode.withgoogle.com/organizations/4915113891463168/
  - Project `p5.js`
  - 14 projects last year

https://summerofcode.withgoogle.com/organizations/4572613016289280/
  - Project `carbon footprint`
  - 13 projects last year

https://summerofcode.withgoogle.com/organizations/6190297818595328/

[2018-02-28 00:40] vanard opened #34 "Vian Rasyid Diyatma - Amahi/FOSSASIA/TPF"
**Coach assistant:** @ridhofadilah

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Amahi
2. FOSSASIA
3. The Processing Foundation

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| FOSS

[2018-02-28 01:54] jayvdb commented on #3
for the Haskell work, in addition to contributing to a core Haskell library, I recommend that you contribute to https://github.com/hercules-team/augeas , a format preserving library.  It has a broken/minimal YAML support, and fixing that is very hard.  However there are easier issues that you can solve in that project.

[2018-02-28 03:44] aromadhony commented on #24
Silahkan cek notes di line group tentang organization dengan project yang berhubungan dengan NLP yang sempat saya cek :).

[2018-02-28 04:28] wisn commented on #30
Ascoach bebas kok mau pilih siapa aja walaupun gasesuai di daftar juga gapapa.

[2018-02-28 04:55] bhrdn opened #35 "Habib Bahruddin - phpBB"
**Coach assistant:** @bekicot

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1, phpBB

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| phpBB | REST API | - | PHP |

**Mentors:**

1. php

[2018-02-28 04:57] kadekanandap opened #36 "I Kadek Ananda Prana Widya"
**Coach assistant:** @ghaisani

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|-----

[2018-02-28 07:59] rokysungkar opened #37 "William Sungkar - CLiPS, University of Antwerp/SymPy"
**Coach assistant:** @ghaisani

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. CLiPS, University of Antwerp
2. SymPy
3.

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
|CLiPS|Sentiment

[2018-02-28 08:05] bekicot commented on #5
@tushareandy Silahkan pilih salah satu mentor saja.

[2018-02-28 08:08] bekicot commented on #15
@seagalputra jangan lupa pilih organisasi

[2018-02-28 08:09] bekicot commented on #20
@fikrihaykal41 Jangan lupa pilih organisasi

[2018-02-28 08:10] bekicot commented on #26
@yudhaputrama Jangan lupa pilih projectnya

[2018-02-28 08:43] ceefour commented on #26
@bekicot "lupa"-nya kelupaan mas wkwkwk 😉

[2018-02-28 10:35] seagalputra commented on #15
@bekicot siaap, secepatnya nanti saya pilih organisasinya

[2018-02-28 10:58] alifyonanta opened #38 "M. Alif Rizal Yonanta AR."
**Coach assistant:** @ridhofadilah
(hapus selain ascoach Anda)

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. R project for statistical computing
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|-------

[2018-02-28 11:06] bekicot commented on #38
@alifyonanta Pilih salah satu mentor aja sesuai dengan bidang yang di minati

[2018-02-28 11:56] wisn commented on #3
I'm going to contribute to another Haskell project such as [Hakyll](https://github.com/jaspervdj/hakyll).

[2018-02-28 12:04] wisn commented on #3
I think I should find another Haskell project as a backup since Hakyll is not really active now.

[2018-02-28 12:27] wisn commented on #3
How about [blaze-html](https://github.com/jaspervdj/blaze-html), @jayvdb?

[2018-02-28 13:12] jayvdb commented on #3
I think `hakyll` is a much better choice.
`blaze-html` doesnt use yaml, and it is as inactive as hakyll, and has less stars and contributors, and a much lower complexity.

[2018-02-28 13:17] wisn commented on #3
Must be something related to YAML? Is parsing related stuff enough? Jasper said what should I do is make a (small) contribution to Haskell project and then read some approach that exists for format-preserving syntax and parser.

[2018-02-28 13:34] jayvdb commented on #3
Ideally, yes.

'enough' isnt relevant.  hekyll is better for lots of reasons mentioned, and I could give lots of other reasons also.

We'll get to that, later.

https://github.com/gsocindonesia/coaching2018/issues/3#issuecomment-369093531

[2018-02-28 13:37] wisn commented on #3
Okay. Gonna contribute to Hakyll then. Will contributes to another project after that one.

[2018-02-28 13:54] jayvdb commented on #8
Processing huh, that reminds me of `https://github.com/processing/processing/pull/4781`

which idea? https://github.com/processing/processing/wiki/Project-List

IMO, their classroom project looks like a good match to your skills and interests.

Carbon Footprint .. which idea : http://aossie.org/#ideas ?

INCF .. which idea : https://www.incf.org/activities/training/gsoc-2018-project-ideas ?

[2018-02-28 15:58] ceefour commented on #27
ListenBrainz nih kayanya Python ya kerjaannya

[2018-02-28 17:57] effendivina opened #39 "Vina Fadriani Effendi - Canadian Centre for Computational Genomics/SymPy"
Coach assistant: @effendivina

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Canadian Centre for Computational Genomics
2. SymPy
3.

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| C

[2018-03-01 03:35] kartininurfalah opened #40 "Kartini Nurfalah - phpMyAdmin / CHAOSS /"
**Coach assistant:@kartininurfalah

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. CHAOSS
2. phpMyAdmin
3. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|----

[2018-03-01 05:01] irfanmfauzi opened #41 "Irfan Muhammad Fauzi - Open Data Kit -"
**Coach assistant:**  @probeadd
(hapus selain ascoach Anda)

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. ... Open Data Kit
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|----------------------------

[2018-03-01 10:05] hafizhfauzan opened #42 "Hafizh Fauzan - Python Software Foundtaion / Mozilla / The Eclipse Foundation"
**Coach assistant:** / @bekicot

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|----

[2018-03-01 16:19] bekicot commented on #42
@hafizhfauzan Pilih salah satu ascoach saja.

[2018-03-02 06:32] Krulez opened #43 "Arief Luqman - NumFocus/OpenMRS/HAIKU"
**Coach assistant:** @effendivina

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. NumFocus
2. OpenMRS
3. HAIKU

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-03-02 06:41] okipratama97 opened #44 "Oki Pratama Putra"
**Coach assistant:** @afnizarnur

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|---

[2018-03-02 07:10] masbossun opened #45 "Ryan Setiagi - Fedora"
**Coach assistant:** @probeadd

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Fedora
2. not yet
3. not yet

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Fedora          | Improve

[2018-03-02 07:53] fathhrohman opened #46 "Fathur Rohman - Stony Brook University Biomedical Informatics"
**Coach assistant:** @ghaisani
(hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Stony Brook University Biomedical Informatics
2.
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|-----

[2018-03-02 08:58] hafizhfauzan commented on #42
ok siap @bekicot

[2018-03-02 09:02] ehardi19 opened #47 "Eko Hardiyanto"
**Coach assistant:** @effendivina

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. SymPy
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| SymPy          | Series expansio

[2018-03-02 09:36] saveroz opened #48 "Muhammad Savero"
**Coach assistant:**  @effendivina
(hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|-----------------------

[2018-03-02 10:22] jayvdb commented on #8
For Wikimedia/Ruby project, which you've selected a Education dashboard idea, two tasks to work on to show your varied skills:

1. Phab - Discourse plugin needs to be finished and implemented.

2. https://github.com/wikimedia/jquery.i18n isnt a npm module.  Wrapping it up into a npm module will allow better re-use. (see https://github.com/coala/gci-leaders/blob/master/src/js/bootstrap.js && https:

[2018-03-02 12:41] Ryuma12 opened #49 "Anugrah Ramadhan - aimacode/Godot Engine/Systers Community"
**Coach assistant:**  @effendivina

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. aimacode
2. Godot Engine
3. Systers Community

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Godot

[2018-03-02 12:48] bekicot commented on #49
Pilih salah Satu mentor aja, yg sesuai dengan minat :)

On Fri, Mar 2, 2018, 7:41 PM Ryuma12 <notifications@github.com> wrote:

[2018-03-02 13:11] reyoctavially opened #50 "Gsocindonesia"
**Coach assistant:** @wisn / @bekicot / @probeadd / @ghaisani / @afnizarnur / @ridhofadilah / @underground-11 / @NoveltyOFD / @effendivina / @kartininurfalah
(hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization

[2018-03-02 13:11] reyoctavially opened #51 "Gsocindonesia"
**Coach assistant:** @effendivina

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|--

[2018-03-02 13:24] #50 closed, assigned to nobody

[2018-03-02 13:25] wisn commented on #51
Cukup satu aja issue-nya. Issue #50 saya tutup.

[2018-03-02 13:53] zulfananto opened #52 "Zulfananto Herdyawan"
**Coach assistant:** @effendivina

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|--

[2018-03-02 14:30] setyongr opened #53 "Setyo Nugroho - CloudCV / Amahi / Open Data Kit"
**Coach assistant:** @afnizarnur

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. CloudCV
2. Amahi
3. Open Data Kit

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| CloudCV          |

[2018-03-02 14:34] hasbian opened #54 "Hasbian - OpenAstronomy/CERN-HSF/NumFOCUS"
**Coach assistant:** @effendivina
**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. OpenAstronomy
2. CERN-HSF
3. NumFOCUS

**Ideas:**

| Organization  | Idea                                            | Difficulty   | Technologies & Tools         |
|----------------|------------------------------------|------------|------------------------------|

[2018-03-02 14:35] iqbalbasyar opened #55 "Iqbal Basyar - Aimacode/ Stony Brook University Biomedical Informatics/ OpenAstronomy"
**Coach assistant:** @underground-11

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description
* [x] Initialize proposal
* [x] Writing proposal
* [ ] Ask review to mentor
* [ ] Finalize proposal
* [ ] Submit proposal

**Organizations:**

1. Aimacode
2. Stony Brook University Biomedical Informatics
3. OpenAstronomy

**Ideas:**

| Organization | Idea

[2018-03-02 14:38] wisn commented on #54
Mentornya satu aja.

[2018-03-02 15:15] mrezaprwr opened #56 "Reza Siahaan - OpenStates / Moodle / Wikimedia"
**Kartini Nurfalah** @kartininurfalah

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Open States
2. Moodle
3. WikiMedia

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Moodle | Add

[2018-03-02 15:22] AgiMaulana opened #57 "Agi Maulana - Catrobat / Open Data Kit / Conversations.im"
**Coach assistant:** @ghaisani

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Catrobat
2. Open Data Kit
3. Conversations.im

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Catrobat

[2018-03-02 16:07] kelilipan opened #58 "Anvaqta Tangguh Wisesa - GENIVI Alliance/ Homebrew / Mozilla"
**Coach assistant:** @underground-11

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Homebrew
2. Mozilla
3. TBA

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Homebrew |Emit warning

[2018-03-02 16:13] JustJoeAway opened #59 "Rahmat Ramadan Prasojoe"
**Coach assistant:**  @bekicot
(hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|---------------------------

[2018-03-02 17:15] afnizarnur opened #60 "Afnizar Nur Ghifari - Elastic"
**Coach assistant:** @wisn

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. [Elastic](https://www.elastic.co/)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Elastic

[2018-03-02 17:17] afnizarnur commented on #60
Hi @wisn @jayvdb, would love to hear some advice about [this](https://github.com/elastic/gsoc#kibana_calendar_visualization) project 🙇‍♂️.
Thanks!

[2018-03-02 17:39] afnizarnur commented on #44
Thanks for choosing me as your coach! @okipratama97 🙇‍♂️
Don't forget to select you organization and the project you want to working on. Then, update this issue 😊.

If you need help, don't hesitate to get in touch with me.

[2018-03-02 17:40] afnizarnur commented on #53
Thanks for choosing me as your coach! @setyongr 🙇‍♂️
Don't forget to select you organization and the project you want to working on. Then, update this issue 😊.

If you need help, don't hesitate to get in touch with me.

[2018-03-02 17:41] afnizarnur commented on #31
Thanks for choosing me as your coach! @ravimahfunda 🙇‍♂️
Don't forget to select you organization and the project you want to working on. Then, update this issue 😊.

If you need help, don't hesitate to get in touch with me.

[2018-03-02 17:42] afnizarnur commented on #20
Thanks for choosing me as your coach! @fikrihaykal41 🙇‍♂️
Don't forget to select you organization and the project you want to working on. Then, update this issue 😊.

If you need help, don't hesitate to get in touch with me.

[2018-03-02 17:55] wisn commented on #60
I'm not expert in UI/UX or design related stuff. However, your first selected project idea should be your "dream project."

[2018-03-02 17:58] wisn commented on #57
Halo, @AgiMaulana! Sepertinya kamu belum memilih organisasi yang diinginkan. Jika ada kesulitan, mari berdiskusi di issue ini... 😃

[2018-03-02 17:58] afnizarnur commented on #60
Well, I guess you know some react things 😬 @wisn
Still looking for another project to work on, will update it later.

[2018-03-02 17:59] wisn commented on #38
Halo, @alifyonanta! Sepertinya kamu belum memilih organisasi yang diinginkan. Jika ada kesulitan, mari berdiskusi di issue ini... 😃

[2018-03-02 17:59] wisn commented on #34
Halo, @vanard! Sepertinya kamu belum memilih organisasi yang diinginkan. Jika ada kesulitan, mari berdiskusi di issue ini... 😃

[2018-03-02 18:01] bagindakarli opened #61 "Baginda - Metasploit/Apache Software Foundation/Django Software Foundation"
Coach assistant: @ridhofadilah

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Metasploit
2. Apache Software Foundation
3. Django Software Foundation

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------

[2018-03-02 18:04] wisn commented on #60
Well, yeah. The good thing is that the project looks like React centered.

[2018-03-02 18:05] wisn commented on #29
Halo, @dewasa98! Sepertinya kamu belum memilih organisasi yang diinginkan. Jika ada kesulitan, mari berdiskusi di issue ini... 😃

[2018-03-02 18:05] wisn commented on #28
Halo, @kamalhm! Sepertinya kamu belum memilih organisasi yang diinginkan. Jika ada kesulitan, mari berdiskusi di issue ini... 😃

[2018-03-02 18:05] wisn commented on #23
Halo, @ArifFadhilah! Sepertinya kamu belum memilih organisasi yang diinginkan. Jika ada kesulitan, mari berdiskusi di issue ini... 😃

[2018-03-02 18:06] wisn commented on #22
Halo, @adityaemaulana! Sepertinya kamu belum menentukan project yang ingin dikerjakan. Jika ada kesulitan, mari berdiskusi di issue ini... 😃

[2018-03-02 18:08] wisn commented on #6
Halo, @rhony08! Sepertinya kamu belum memilih organisasi yang diinginkan. Jika ada kesulitan, mari berdiskusi di issue ini... 😃

[2018-03-02 23:17] ramonivandy opened #62 "Ramon Ivandy S - SCoRe"
Coach assistant: @NoveltyOFD

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. SCoRe
2.
3.

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| SCoRe          | Redesign Drola Web Protal

[2018-03-02 23:46] mariefismi02 opened #63 "Muhammad Arief Ismirianda - Godot/ScummVM"
**Coach assistant:** @probeadd

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Godot
2. ScummVM
3.

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Godot         | Template builder fo

[2018-03-03 02:21] fiqryq opened #64 "Fiqry choerudin"
**Coach assistant:** @bekicot
(hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|----------------------------

[2018-03-03 02:25] annisamalik opened #65 "Annisa Aisyha Malik - AimaCode/Fossasia/LibreHealth"
**Coach assistant:** @underground-11

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------

[2018-03-03 02:31] adityaalifn opened #66 "Aditya Alif Nugraha - CloudCV / Scilab / MetaBrainz Foundation Inc."
**Coach assistant:** @underground-11
**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. CloudCV
2. Scilab
3. MetaBrainz Foundation Inc.

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Cl

[2018-03-03 02:52] vielsanjaya commented on #29
hi @wisn , saya ingin bertanya mengenai:
1. untuk sanity check, apa saja yang perlu dicantumkan pada detailed profile.
2. untuk organisasi, apakah ada rekomendasi, karena saya agak kesulitan untuk memilih satu

[2018-03-03 03:00] kamalhm commented on #28
Halo, @wisn ! Satu organisasi hanya bisa memilih satu proyek saja atau boleh lebih dari satu?

[2018-03-03 03:01] zulkarnainzahlan opened #67 "Zulkarnain Sahlan - Debian Project / JBoss Community / SCoRe"
**Coach assistant:** @kartininurfalah

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Debian Project
2. JBoss Community
3. SCoRe

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...

[2018-03-03 03:17] hafidzilkhairi opened #68 "Hafidzil Khairi"
**Coach assistant:** @NoveltyOFD

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ...
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-03-03 03:28] wisn commented on #28
Satu organisasi satu proposal. Artinya, hanya boleh memililh satu proyek saja.

[2018-03-03 03:29] wisn commented on #29
1. Sanity check lebih ke goal pribadi kamu dalam menulis proposal.
2. Sebutkan teknologi dan/atau bahasa pemrograman yang kamu kuasai serta level penguasaannya (beginner, intermediate, advanced). Nanti dicarikan.

[2018-03-03 03:54] jayvdb commented on #60
Elastic is a great choice of org, as preparation work you do for elastic will also be relevant to many other medium-large orgs.

e.g. Wikimedia uses a few elastic products, and has lots of open issues about them, such as [kibana](https://phabricator.wikimedia.org/search/query/wBFDhIhu5iFS/#R).  It would be quite easy to propose a Kibana project to Wikimedia as your second or third application, re-

[2018-03-03 04:14] trijakap opened #69 "Tri Jaka Pamungkas - BeeWare Project"
**Coach assistant:** @underground-11

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. BeeWare Project

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| BeeWare Project          | Toga -

[2018-03-03 04:55] nindyharis opened #70 "Nindy Haris Putri"
**Coach assistant:**@bekicot

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|-------

[2018-03-03 05:04] vmasdani opened #71 "Muhammad Valian Masdani - GNU Radio / OpenWISP / SCoRe"
**Coach assistant:** @underground-11

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. GNU Radio
2. OpenWISP
3. SCoRe

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| GNU Radio | Qt5 GU

[2018-03-03 05:30] adzkar opened #72 "Adzkar Fauzie Rahman - Joomla"
**Coach assistant:** @underground-11

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description
* [ ] Initialize proposal
* [ ] Ask review to mentor
* [ ] Finalize proposal
* [ ] Submit proposal

**Organizations:**

1. Joomla
2. Drupal

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|-----------------

[2018-03-03 05:45] almezi opened #73 "Aulia Mei Azizi - Internet Archive/Wikimedia/Submitty"
**Coach assistant:**  @kartininurfalah

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1.Internet Archive
2.Wikimedia
3.Submitty

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
|Wikimedia

[2018-03-03 06:03] ekkyws opened #74 "Ekky Wicaksana - Joomla!"
**Coach assistant:** @underground-11

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. ... Joomla!
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-03-03 06:45] fajarachmadyusup13 opened #75 "Fajar Achmad Yusup"
**Coach assistant:** @wisn

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|---------

[2018-03-03 06:56] wisn commented on #72
@adzkarfauzie Organisasi di atas di isi dengan organisasi GSoC yang dipilih.

[2018-03-03 07:11] nandafebr opened #76 "Nanda Febrian A - Digital Impact Alliance / AOSSIE - Australian Open Source Software Innovation and Education"
**Coach assistant:** @afnizarnur

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Digital Impact Alliance
2. AOSSIE - Australian Open Source Software Innovation and Education
3.

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|----

[2018-03-03 07:30] dhiaintar opened #77 "Dhia Imtinan Intar Nareswari"
**Coach assistant:**  @effendivina

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1 sCore
2. OpenWISP
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-03-03 07:42] billpowersinaga opened #78 "Bill Power Sinaga - Metasploit / Mozilla / Debian Project"
**Coach assistant:** @ridhofadilah
(hapus selain ascoach Anda)

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Metasploit
2. Mozilla
3. Debian Project

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|-----------------

[2018-03-03 07:43] vielsanjaya commented on #29
bahasa pemrograman yang dikuasai: python (intermediate), java,c++(beginner)

[2018-03-03 07:48] gerranindya opened #79 "Rismada Gerra Nindya - phpMyAdmin / The ns-3 Network Simulator Project"
**Coach assistant:** @kartininurfalah

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. phpMyAdmin
2. The ns-3 Network Simulator Project
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|--------------------------

[2018-03-03 07:51] aldyanc opened #80 "Aldyan Candra"
**Coach assistant:** @bekicot

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------

[2018-03-03 07:54] ahtaufiiq opened #81 "Ahmad Taufiq Hidayat - Wikimedia/FOSSASIA/ZULIP"
**Coach assistant:** @afnizarnur

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Wikimedia
2. FOSSASIA
3. ZULIP

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
|Wikimedia        |[Wiki

[2018-03-03 08:04] wardota opened #82 "Dimas Bayu Maulana - Canadian Centre for Computational Genomics/Stony Brook University Biomedical Informatics/Apertus Association"
**Coach assistant:** @effendivina

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Canadian Centre for Computational Genomics
2. Stony Brook University Biomedical Informatics
3. Apertus Association

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|---------------------

[2018-03-03 08:07] bekicot commented on #51
@reyoctavially Judul belum memenuhi syarat

[2018-03-03 08:10] yanroberto21 opened #83 "New Issues"
@bekicot  / @NoveltyOFD

 [v ] GitHub profile photo + detailed profile description

**Organizations:**

1. ...
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...                                | ...        |

[2018-03-03 08:12] afnizarnur commented on #76
Thanks for choosing me as your coach! @nandalll 🙇‍♂️
Don't forget to update your profile(photo & description), also the project you want to working on. Then, update this issue 😊.

If you need help, don't hesitate to get in touch with me.

[2018-03-03 08:12] wisn commented on #3
@jayvdb any advice for my third organization? I would love to use JavaScript.

[2018-03-03 08:13] yanroberto21 opened #84 "Yan_Roberto"
**Coach assistant:** @wisn / @bekicot / @probeadd / @ghaisani / @afnizarnur / @ridhofadilah / @underground-11 / @NoveltyOFD / @effendivina / @kartininurfalah
(hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization

[2018-03-03 08:13] effendivina commented on #82
bagian coach assistant nya aku edit ya

[2018-03-03 08:16] isasetiawan opened #85 "Isa Setiawan Abdurrazaq - Mozilla / Liberhealth / Oppia"
**Coach assistant:** @probeadd

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Mozilla
2. Liberhealth
3. Oppia

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-03-03 08:18] wardota commented on #82
baik

[2018-03-03 08:19] wisn commented on #85
Asistennya satu aja Bapak @isasetiawan

[2018-03-03 08:19] effendivina commented on #48
profile detail nya ditambahin yah

[2018-03-03 08:20] isasetiawan commented on #85
maap maap

[2018-03-03 08:21] yanroberto21 opened #86 "Yan Roberto"
**Coach assistant:**  @NoveltyOFD

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

1. R project for statistical computing
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| R project for statisti

[2018-03-03 08:21] bekicot commented on #83
Duplicate dengan #84

[2018-03-03 08:21] #83 closed, assigned to yanroberto21

[2018-03-03 08:23] choirulrzl opened #87 "Achmad Choirul Rizal -"
**Coach assistant:** @kartininurfalah
**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Wikimedia Foundation
2. CLiPS, The Computational Linguistics & Psycholinguistics Research Group of the University of Antwerp
3. SymPy

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------

[2018-03-03 08:23] bekicot commented on #86
Gunakan fungsi edit untuk merubah issue #83 #84

@yanroberto21

[2018-03-03 08:23] #84 closed, assigned to nobody

[2018-03-03 08:25] yanroberto21 commented on #86
ok bang masih baru belajar  @bekiCo

[2018-03-03 08:27] bekicot commented on #86
👍

Anyway, @bekicot

[2018-03-03 08:51] bekicot commented on #59
@JustJoeAway Jangan lupa pilih org dan project

[2018-03-03 08:51] bekicot commented on #64
@impandaa Jangan lupa pilih org dan project

[2018-03-03 08:52] bekicot commented on #70
@nindyharis Jangan lupa pilih org dan projectnya

[2018-03-03 08:53] bekicot commented on #80
@aldyanc Jangan lupa update PP, pilih organisasi., pilih project

[2018-03-03 09:32] jayvdb commented on #58
Ruby huh, then you should be able to help with https://github.com/gsocindonesia/gsoc-orgs :P

[2018-03-03 09:33] jayvdb commented on #61
Ruby?  Then you should be able to help with https://github.com/gsocindonesia/gsoc-orgs

[2018-03-03 10:49] kartininurfalah commented on #79
Hi, @gerranindya ! Thank you for choosing me as your ascoach.
Don't forget to update your github profile (photo profile and description) and update your github issue.

[2018-03-03 10:55] kartininurfalah commented on #87
Hi, @choirulriz  ! Thanks for choosing me as your ascoach.
Don't forget to select the organization and then take the topic ideas that you want for your issue.

[2018-03-03 10:56] kartininurfalah commented on #73
Hi @almezi ! Don't forget to update your issue

[2018-03-03 10:58] kartininurfalah commented on #67
Hi, @zulkarnainzahlan! Thanks for choosing me as your ascoach.
Don't forget to select the organization and the project that you want to be your issue and then update your github profile(photo profil and description).

[2018-03-03 11:00] kartininurfalah commented on #56
Hi @mrezaprwr ! Thanks for choosing me as your ascoach.
Don't forget to update your issue

[2018-03-03 11:16] mrezaprwr commented on #56
But i can't drag my issue from "Not yet Started" to "Chosen Organizations", How do i move it ?

[2018-03-03 11:26] ceefour commented on #56
@mrezaprwr you have to accept gsocindonesia github invite. Check your email carefully

[2018-03-03 11:43] aldyanc commented on #80
ok gan @bekicot

[2018-03-03 11:49] effendivina commented on #23
hai, @ArifFadhilah
Ascoach kamu diganti dari wisnu ke aku yah. bagian ascoach bisa di ganti dan kalau ada kesulitan bisa langsung didiskusiin yah :smile:

[2018-03-03 11:50] effendivina commented on #43
hai, @Krulez
profile description bisa dilengkapi yah. jika ada kesulitan bisa langsung didiskusiin di issues kamu yah :smile:

[2018-03-03 11:52] effendivina commented on #49
hai @Ryuma12
ascoach kamu diganti ke aku yah. Githup profile info bisa mulai dilengkapi dan silahkan memilih idea dari organisasi yang kamu pilih ya :smile:

[2018-03-03 11:53] effendivina commented on #52
hai @zulfananto
silahkan melengkapi profile info kamu yah, kalau ada kesulitan silahkan didiskusikan disini :smile:

[2018-03-03 12:19] dhiyaud opened #88 "Dhiya Ulhaq Dewangga"
@underground-11

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|--------------------

[2018-03-03 12:25] yolandasimamora opened #89 "New World"
**Coach assistant:** @probeadd

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|-----

[2018-03-03 12:34] mrezaprwr commented on #56
already did pak, but i have no idea how to move it to the right box, is it just drag my issue or do i need to click on something ?
![issue1](https://user-images.githubusercontent.com/26166662/36934300-ba0ea34e-1f19-11e8-858d-82b613cbc4c1.jpg)

[2018-03-03 12:45] ceefour commented on #56
Should be just drag, try a different browser maybe? If not working then wait for mbak @kartininurfalah to move it for you :)

[2018-03-03 12:50] mrezaprwr commented on #56
solved, i tried microsoft edge hehe, thank you pak

[2018-03-03 12:57] ceefour commented on #89
@ghaisani already full, reassigned to @probeadd

[2018-03-03 14:07] flippy16 opened #90 "BayuSulistyo - AOSSIE / LibreHealth"
**Coach assistant:** @ghaisani

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. AOSSIE
2. LibreHealth
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| AOSSIE          | MOBILE A

[2018-03-03 14:49] ceefour commented on #90
Your new ascoach is Febry @ghaisani 😊

[2018-03-03 14:50] ahmadmuammar opened #91 "Ahmad Muammar Fanani - KiwiX"
**Coach assistant:** @effendivina

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. KiwiX
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-03-03 14:57] ceefour commented on #91
Reassigned ascoach to @effendivina.

[2018-03-03 15:06] Chitrasyahriel opened #92 "Citra Bintang B. - FOSSASIA / Conversations.im / Jitsi"
**Coach assistant:** @wisn

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. fossasia
2. conversations.im
3. jitsi

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
| fossasia         |     documentation apps | moderate | jekyll, javascript, and sphinx |
| conversations.im | Dino : mes

[2018-03-03 15:29] Chitrasyahriel commented on #92
pak atau kak (biar akrab.. hehehe), aku masih bingung nentuin organisasi dan project. soalnya di jurusanku yang sistem computer itu bahasanya gak jauh-jauh dari c++ , tapi kemarin2 juga sempat belajar qt dan MySQL, tapi hanya basic2 saja. kebetulan saya interests di social/communication, graphics, photo, dan databases. but i'm willing to learn new things. kira2 menurut kakak organisasi apa yang co

[2018-03-03 15:55] mtaufiqramadhan opened #93 "Muhamad Taufiq Ramadhan - Webpack / LibreHealth / Open Data Kit"
**Coach assistant:** @NoveltyOFD

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**

1. Webpack
2. LibreHealth
3. Open Data Kit

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| LibreHealth

[2018-03-03 15:58] denicahyawintaka opened #94 "Deni Cahya Wintaka"
Coach assistant: @kartininurfalah

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|--

[2018-03-03 16:02] alamdre opened #95 "Ade Kurnia Alam - Godot Engine / Apache Software Foundation / MariaDB"
** Coach Assistant **
@ghaisani

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Godot Engine
2. Apache Software Foundation
3. MariaDB

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
|

[2018-03-03 16:12] norhadi opened #96 "New issues"
**Coach assistant:**@ridhofadilah

**Sanity checks:**

* [ ] GitHub profile photo (mahkota hitam putih)

**Organizations:**

1. ns-3
2. Openwisp
3. Nrnb

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| ...          | ...

[2018-03-03 16:15] wisn commented on #92
Aku angkatan 2016 jadi panggilannya disesuaikan aja ya hahaha

Bahasa pemrogramannya C++, ya... kalau dari bidang yang diharapkan apa? Misalnya Programming Language and Development Tools atau aku sebenernya mau Web.

[2018-03-03 16:26] Chitrasyahriel commented on #92
mau coba yang mudah2 aja di social/communication atau database atau web

[2018-03-03 16:31] ceefour commented on #94
Reassigned ascoach to @kartininurfalah , and @denicahyawintaka seems to be interested in Android?

[2018-03-03 16:33] wisn commented on #92
Udah pernah pegang web development sebelumnya?

[2018-03-03 16:35] wisn commented on #92
Coba lihat salah satu [ide proyek ini](https://labs.fossasia.org/ideas#Documentation-Apps). Menurutku mudah dan bisa kamu lakukan.

[2018-03-03 16:38] Chitrasyahriel commented on #92
belum pernah megang web development. tapi pengen belajar jugaa basic2 nya.

[2018-03-03 17:01] wisn commented on #92
Itu proyek yang aku kasih tau basic kok. Bagian yang paling penting bisa bikin tulisan yang bagus buat dokumentasi.

[2018-03-04 07:19] Putrinindiaa opened #97 "Nindia Cahyaning Putri - Conversations.im / KiwiX"
Coach assistant: @afnizarnur
Sanity checks:

* [ ] GitHub profile photo + detailed profile description

Organizations:

1. Conversations.im
2. Kiwix

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Conversation.im         | to improve the

[2018-03-04 13:58] afnizarnur commented on #97
Thanks for choosing me as your coach! @Putrinindiaa 🙇‍♂️

If you need help, don't hesitate to get in touch with me.

[2018-03-04 15:39] josuadiontamba opened #98 "Josua Dion Tamba"
**Coach assistant:** @bekicot

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. mlpack
2. The Linux Foundation
3. TEAMMATES @ National University of Singapore

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|-----------

[2018-03-05 04:03] AgiMaulana commented on #57
hai @ghaisani , seperti yang dibilang mas @wisn saya belum memilih organisasi.. bagaimana cara memilihnya? thanks.

[2018-03-05 09:52] adzkar commented on #72
done

[2018-03-06 01:54] iqbalbasyar commented on #72
Have you contacted the mentors ? If you haven't, try to contact them.
Good luck

[2018-03-08 05:54] jayvdb commented on #35
Perhaps try doing some contributions to repositories in https://github.com/phpindonesia

[2018-03-08 06:04] jayvdb commented on #10
You should finish your 'Himatek' work on https://github.com/serabiasin/screenFetch/commits/master and submit a patch to https://github.com/KittyKatt/screenFetch

[2018-03-08 06:21] jayvdb commented on #3
You need to include an application to an organisation with 20+ projects in 2017, such as FOSSASIA, Mozilla, etc.

[2018-03-08 08:52] Chitrasyahriel commented on #92
klo project yg kakak kasih itu, masuk bidang apa ya ??

[2018-03-08 09:51] Chitrasyahriel commented on #92
I'm interested sih kak. ada another option ?? ak ada dapat beberapa, but I don't know if its hard for me to do in the future

[2018-03-08 10:06] wisn commented on #3
@jayvdb Okay. I think I will try Mozilla.

[2018-03-08 10:07] wisn commented on #92
@Chitrasyahriel Itu masuknya ke web programming sama documentation. Nanti aku carikan, ya...

[2018-03-08 10:17] Chitrasyahriel commented on #92
kak, klo yang communication/social itu rata2 sulit yaa ?? aku bingung mau cari yang mudah2

[2018-03-08 10:31] seagalputra commented on #15
@bekicot punten bang mau nanya, kalo misalkan ngehubungin mentor mending lewat email mentornya langsung apa email yg disediain organisasinya ya? makasih bang sebelumnya

[2018-03-08 10:40] wisn commented on #92
Aku belum liat-liat itu sih jadi belum tau.

[2018-03-08 10:59] Chitrasyahriel commented on #92
takut web design banyak saingannya hehehe. jadi mau ada back up nyaa

[2018-03-09 03:45] bhrdn commented on #35
@jayvdb okayy

[2018-03-09 08:35] bagindakarli commented on #61
@ridhofadilah Bang, kalau di beberapa idea gaada nama mentornya gimana, ya?

[2018-03-09 08:47] ceefour commented on #61
@bagindakarli coba cek dulu guide organisasi tersebut tentang GSoC 2018, biasanya ada keterangan di situ. next, lempar langsung ke mailing list dan/atau chatroom.

coba lampirkan linknya... ?

[2018-03-09 09:03] nandafebr commented on #76
hey @afnizarnur , i want to asking something, how i can contact project's mentor?

[2018-03-09 09:12] probeadd commented on #89
Would you please fix the issue title? Thank you :) @yolandasimamora

[2018-03-09 09:34] bagindakarli commented on #61
https://github.com/rapid7/metasploit-framework/wiki/GSoC-2018-Project-Ideas#improving-post-exploit-api-to-be-more-consistent-work-smoothly-across-session-types

Pada link di atas, ada beberapa nama mentor, namun saya tidak tahu yang mana mentor untuk Idea : Improving the Post-exploit / Meterpreter functionality

Terima kasih, Pak @ceefour , karena telah membantu menjawab pertanyaan saya.

[2018-03-09 09:38] ceefour commented on #61
@bagindakarli di halaman tersebut ada koq "When you've picked one, take a look at GSoC-2018-Student-Proposal for how to make a proposal." Klik di link tersebut, di situ ada emailnya dan juga advice umum apa yg perlu disampaikan .

[2018-03-09 10:45] afnizarnur commented on #76
Hi @nandalll,

You've to search the project first on your selected organization, usually the project mentor below the project description.
Example below:

![image](https://user-images.githubusercontent.com/4648648/37203845-9f711df8-23c1-11e8-8481-3657a14da065.png)

[2018-03-09 11:31] fadhlanhp opened #99 "Fadhlan Harno Prayogi"
**Coach assistant:** @effendivina

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|--

[2018-03-09 12:15] bagindakarli commented on #61
@ceefour Oh iya, terima kasih, Pak. Lalu, untuk menyunting _issue_ yang telah saya buat sebelumnya, di bagian _Mentors_ (tepatnya di bagian "_Name_"), saya isi dengan apa ya, Pak? Sekali lagi terima kasih atas bantuannya, Pak.

[2018-03-09 12:21] ceefour commented on #61
@bagindakarli untuk metasploit sementara diisi email yg itu dulu . Ntar klo udah ada balasan kan jadi tau mentor sebenarnya yg mana (kalo tanggapannya positif).

Untuk Apache dan Django kayanya udah ada alokasi mentor yg fix per ide, silakan juga dikontak. Mending parallel aja, tidak perlu nunggu2.

[2018-03-09 13:42] bagindakarli commented on #61
@ceefour Oke, akan saya usahakan. Terima kasih, Pak.

[2018-03-09 16:39] nandalll commented on #76
sorry @afnizarnur , and what about the ideas? Can you explain to me? Is it get from the project description or we make something new thing / ideas? Thank you

[2018-03-10 00:43] #93 closed, assigned to NoveltyOFD, mtaufiqramadhan

[2018-03-10 00:46] mtaufiqramadhan opened #100 "Muhamad Taufiq Ramadhan - Wikimedia / LibreHealth / Fedora"
**Coach assistant:** @NoveltyOFD

**Sanity checks:**

* [x] GitHub profile photo + detailed profile description

**Organizations:**
1. Wikimedia
2. LibreHealth
3. Fedora

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|------------------------------|
| Wikimedia

[2018-03-10 02:36] serabiasin commented on #10
@jayvdb thank you for your feedback, i will do a pull request ASAP

[2018-03-10 03:19] ceefour commented on #93
(moved to #100)

[2018-03-10 04:24] nandafebr commented on #76
mas @afnizarnur , i have contact one of mentor each project but on public forum and i can't get their email address. Is email of mentor can fill by blank column? Thank's

[2018-03-10 04:30] ceefour commented on #76
@nandalll as long as you know the name of mentor and you know their preferred way for contacting them. You always have to use the communication medium that is preferred by the mentor. So in place of email, please put "uses Gitter/forum/IRC/mailing list/etc." depending on **their** preferred way.

Maybe forum is one way, but better to make sure by using other available channels and most importantly

[2018-03-10 04:34] nandafebr commented on #76
thank's @ceefour , i have tried to asking and finding their email sir. But one of mentor say, every question must be public question on forum. So everyone can see and answer the question, is it okay sir? Sorry if i can't find specified email of mentor

[2018-03-10 04:35] afnizarnur commented on #76
@nandall Well, then it little bit tricky, you can try to search it on google, linkedin, or in repository your mentor contributed to.

The purpose of finding an email mentor is to contact him so that you can understand the project you selected and also increase the mentor's trust that you can work on the project you choose. 🙂

[2018-03-10 07:28] aryawirasandi opened #101 "Arya Wirasandi - Ruby on Rails / phpMyAdmin/ Mozilla"
**Coach assistant:** @NoveltyOFD
(hapus selain ascoach Anda)

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. Moodle
2. phpMyAdmin
3. Mozilla

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|---------------------------

[2018-03-10 07:49] probeadd commented on #63
Untuk ScummVM sama, mereka minta kita email atau join ke IRC nya: http://wiki.scummvm.org/index.php/Summer_of_Code/GSoC_Contact

[2018-03-10 07:50] syarifsidi opened #102 "La Ode M. Syarif Sidi"
**Coach assistant:** @wisn

**Sanity checks:**

* [ ] GitHub profile photo + detailed profile description

**Organizations:**

1. ... (bila sudah, silakan diisi. Bila belum, biarkan seperti template)
2. ...
3. ...

**Ideas:**

| Organization | Idea                               | Difficulty | Technologies & Tools         |
|--------------|------------------------------------|------------|---------

[2018-03-10 07:51] ghaisani commented on #22
Segera dilengkapi bagian ideas yaa 😃

[2018-03-10 07:53] kartininurfalah commented on #87
Hi @choirulriz don't forget to contact your mentor, and then update your Github issues.

[2018-03-10 07:55] kartininurfalah commented on #80
Hi @aldyanc, Don't forget to choose the organization and the ideas of the project that u want and update the issues here.

[2018-03-10 07:58] afnizarnur commented on #44
Hi @okipratama97
Sudah memilih organisasi dan project? segera update disini ya

[2018-03-10 07:58] ghaisani commented on #57
Hai @AgiMaulana , maaf baru bisa respon..
Untuk memilih organisasi bisa dilihat https://summerofcode.withgoogle.com/organizations/ bisa gunakan filter untuk memilih sesuai bidang yang diinginkan, kalo dirasa pilihan terlalu banyak bisa melalui https://gci-leaders.netlify.com/ (lebih gampang milihnya krn cuma 25 organisasi)
Semoga membantu 😃

[2018-03-10 08:00] afnizarnur commented on #9
Hi @LuthfiFauzi, do you go to coaching #2 today?

[2018-03-10 08:00] ghaisani commented on #95
Segera dilengkapi bagian ideas dan mentor yaa 😃

[2018-03-10 08:02] kartininurfalah commented on #56
Hi @mrezaprwr, you should update this issues by adding the ideas or the project that u want.

[2018-03-10 08:02] kartininurfalah commented on #67
Hi @zulkarnainzahlan, you should update the ideas right now

[2018-03-10 08:18] probeadd commented on #63
Contributing guide godot: https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#communicating-with-developers

[2018-03-10 08:20] probeadd commented on #63
Godot channel yang fast response: http://webchat.freenode.net/?channels=#godotengine-devel

![image](https://user-images.githubusercontent.com/28044374/37239962-7a98fd56-2476-11e8-8c15-eaee91ed83c1.png)

[2018-03-10 11:43] ceefour commented on #102
Rebalanced ascoach to @ghaisani

[2018-03-10 11:47] wisn commented on #102
@ceefour I'm willing to help him. So @syarifsidi, you got two hands.

[2018-03-10 12:24] ceefour commented on #102
Thanks @wisn . Switched back.

[2018-03-11 09:18] mrezaprwr commented on #56
done, how to find the newcomer guide for each organization ?

[2018-03-11 09:18] mrezaprwr commented on #56
done, how to find the newcomer guide for each organization ? @kartininurfalah

[2018-03-11 14:13] ceefour commented on #56
@mrezaprwr first to check, read on each organization's details: here's for Moodle:

https://summerofcode.withgoogle.com/organizations/6220788848394240/

![image](https://user-images.githubusercontent.com/24123/37254485-0987c7ae-2571-11e8-9baa-5c887a580e3a.png)

[2018-03-11 14:21] ceefour commented on #56
@mrezaprwr Open States also the same, just read their guide here: https://summerofcode.withgoogle.com/organizations/5379780178870272/

[2018-03-11 14:49] mrezaprwr commented on #56
i got it, thank you pak @ceefour

[2018-03-12 12:32] iqbalbasyar commented on #65
hai @annisamalik, apakah ada kabar mengenai oraganisasi yang akan dipilih ?

[2018-03-12 23:08] adzkar commented on #72
I'm trying to contact the mentor in special group for Joomla GSOC 2018. And waiting for the mentor answer

[2018-03-13 05:30] ceefour commented on #72
@adzkar after contacting mentor, don't wait. You can:

1. Contact other mentors
2. Do the newcomer guide for your organization (s)

[2018-03-13 12:59] wisn commented on #3
@jayvdb mind to review my proposal? Here [it is](https://docs.google.com/document/d/1FD9W8MT8CbRBuVP_lFUz-5mqZBuo7nc2yJ8YqrigHSw/edit?usp=sharing).

[2018-03-13 13:03] adzkar commented on #72
@ceefour ok.

[2018-03-13 13:03] ceefour commented on #3
@wisn very good first draft and quite clear. It'd be great if you can share your proposal to telkomuniversity LINE group :)

[2018-03-13 13:19] wisn commented on #3
@ceefour okay. Is it all clear? I will mark your comments as resolved.

[2018-03-13 13:23] wisn commented on #3
My first proposal draft submitted!

[2018-03-14 05:49] serabiasin commented on #10
Changed Organization From Fedora to FreeBSD
Email from mentor
![image](https://user-images.githubusercontent.com/21984812/37385272-f2c95c46-2785-11e8-89e2-0056b642e95a.png)

[2018-03-15 11:01] wisn commented on #3
@ceefour @jayvdb
Based on the latest [Haskell Summer of Code blog post](https://summer.haskell.org/news/2018-03-14-student-applications.html), I have added a **motivation** section in my proposal draft.

[2018-03-20 09:18] wisn commented on #30
Closed due to resignation.

[2018-03-20 09:18] #30 closed

[2018-03-20 09:18] wisn commented on #30
Cc @ceefour

[2018-03-24 09:21] wisn commented on #3
@jayvdb @ceefour My 2nd proposal draft has been submitted. It is [External Bears Framework in Haskell](https://docs.google.com/document/d/1_iVan1nDn14N-hbnpR76H0LTznj9InE5_G_c6O1LFxM/edit?usp=sharing).

[2018-03-24 09:37] wisn commented on #3
I will complete the detail section (in the worst case) tomorrow.

[2018-03-25 10:01] ceefour commented on #72
Keep up the good work ...

Let's write the draft proposal
(make sure to update this issue and link to your proposal)

[2018-03-25 10:01] ceefour commented on #40
Keep up the good work ...

Make sure to update this issue and link to your proposal

[2018-03-25 10:02] ceefour commented on #15
@jayvdb Would be great if you could review his proposal :)

[2018-03-25 10:02] ceefour commented on #55
Please update this issue and link to your proposal so we can review

[2018-03-25 10:02] ceefour commented on #27
Please update this issue and link to your proposal so we can review

[2018-03-25 10:03] ceefour commented on #11
Please update this issue and link to your proposal so we can review

[2018-03-25 10:03] ceefour commented on #10
@jayvdb Would be great if you could review his proposal :)

[2018-03-25 10:03] ceefour commented on #21
@jayvdb Would be great if you could review his proposal :)

[2018-03-25 10:03] ceefour commented on #8
@jayvdb is his proposal good enough?

[2018-03-25 10:04] ceefour commented on #37
@jayvdb Would be great if you could review his proposal :)

[2018-03-25 10:04] ceefour commented on #13
@jayvdb is his proposal good?

[2018-03-25 11:23] ceefour commented on #63
Check with @ilmamrh and @BlinfoldKing on tips contacting mentor ... they also submit to Godot

[2018-03-25 11:34] blinfoldking commented on #63
@mariefismi02 have you tried the discord channel? it's quite active, even if you couldn't find the mentor you could ask for advice there. the problem with godot is that their project is based on feature request/ issues from user, so some project may (not) have any mentor yet. or you could check the commit history of godot roadmap.

[2018-03-25 15:13] mariefismi02 commented on #63
@BlinfoldKing ok, thx for suggestion. I will try it soon.

[2018-03-25 16:45] wisn commented on #3
@jayvdb @ceefour [Format-Preserving YAML](https://docs.google.com/document/d/1FD9W8MT8CbRBuVP_lFUz-5mqZBuo7nc2yJ8YqrigHSw/edit?usp=sharing) now final.

[2018-03-26 11:27] ilmamrh commented on #11
@jayvdb @ceefour I'm sorry for the late issue update. Mind to review my proposal? Thank you.

[2018-03-26 14:35] wisn commented on #3
@jayvdb @ceefour [External Bears Framework in Haskell](https://docs.google.com/document/d/1_iVan1nDn14N-hbnpR76H0LTznj9InE5_G_c6O1LFxM/edit?usp=sharing) now ready to get some reviews.

[2018-03-27 14:38] jayvdb commented on #8
The Wikimedia and coala proposals are very well constructed with ample justification.  The Wikimedia proposal has a lot of detail on implementation which is a big positive.  OTOH, the coala proposal is to build on top of https://github.com/summerofcode/gsoc-prep-tasks , which is the maintainer of, so that proposal leans on the experience and skills demonstrated in an existing tool.

I hope he has

[2018-03-27 15:36] jayvdb commented on #13
@BlinfoldKing , create https://www.openhub.net/accounts/blinfoldking and claim your contributions to important repos. e.g. https://github.com/zulip/zulip-electron/commits?author=BlinfoldKing&since=2018-02-28T17:00:00Z&until=2018-03-27T17:00:00Z

A lot of thought has been put into the Godot proposal.  Great level of detail, and images.  Nice to see.

[2018-03-27 15:37] jayvdb commented on #13
coala should have a GDScript bear :-(

[2018-03-27 15:55] blinfoldking commented on #13
@jayvdb thanks, GDScript bear would be a great idea, but maybe i should learn more about the core system first

[2018-03-27 17:16] ceefour commented on #13
@BlinfoldKing I guess you could let the mentor know you're planning to add a GDScript bear as a _stretch goal_ ...?

[2018-03-27 17:21] blinfoldking commented on #13
i don't know whether i could afford to strect the project with GDscript bear with my current skill and understanding, but i'll try consulting with the mentor.

[2018-03-27 17:23] ceefour commented on #13
@BlinfoldKing Ok, I think you should focus on what they want/like first. So in this review period you're expected to be active with the mentors, and discuss/refine/clarify points in your proposal. If the mentors have specific contributions they'd like you to do to "prove yourself" then you should try your best to do it.

[2018-03-28 00:35] jayvdb commented on #13
See https://github.com/google/gsocguides/pull/24 for clarification on what is expected from students now.
The hard work begins now!

[2018-03-28 09:13] bekicot commented on #8
@jayvdb I submited the third to zulip
However the proposal was not as complete as Wikimedia or Coala. In the project description it only fix issue on their github. So i think i should do atleast 2 contribution to their repo every week to get attention.
http://zulip.readthedocs.io/en/latest/overview/gsoc-ideas.html#react-native-mobile-app

[2018-03-28 09:13] bekicot commented on #8
http://zulip.readthedocs.io/en/latest/overview/gsoc-ideas.html#react-native-mobile-app

[2018-03-29 15:21] jayvdb commented on #8
You're probably too late for Zulip, because other applicants are already owning all the issues in https://github.com/zulip/zulip-mobile/issues .

Get a few small ones merged, and then go for the big scary impressive ones.

[2018-04-23 05:49] jayvdb commented on #8
So that didnt happen, did it.

[2018-05-09 14:42] #13 closed

[2018-05-09 20:55] jayvdb commented on #13
`https://github.com/repology/repology/issues/598` is a great opportunity to practise skills, and build your resume for next year's gsoc application.

[2018-07-30 07:23] #87 closed, assigned to kartininurfalah, choirulrzl

[2019-03-15 10:06] #60 closed, assigned to jayvdb, afnizarnur

[2019-03-24 15:44] #57 closed, assigned to AgiMaulana, ghaisani

[2020-03-18 03:15] #45 closed, assigned to masbossun, probeadd

[2021-10-04 04:31] #101 closed, assigned to aryawirasandi, NoveltyOFD

[2022-06-23 09:07] #85 closed, assigned to isasetiawan, probeadd

[2022-07-12 05:39] #3 closed

[2022-09-10 03:43] #7 closed